body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background: #000;
}
.corazon{
    height: 80px;
    width: 80px;
    background-color: #C8A2C8;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #C8A2C8;
    animation: corazon 0.6s linear infinite;
}
@keyframes corazon{
    0%{
        transform: rotate(-45deg) scale(1.07);
    }
    80%{
        transform: rotate(-45deg) scale(1.2);
    }
    100%{
        transform: rotate(-45deg) scale(1.01);
    }
}
.corazon::before{
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    background: #C8A2C8;
    top: -40px;
    border-radius: 50px;
    box-shadow: -10px -10px 90px #C8A2C8;
}
.corazon::after{
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    background: #C8A2C8;
    right: -40px;
    border-radius: 50px;
    box-shadow: -10px -10px 90px #C8A2C8;
}
span{
    position: absolute;
    width: 300%;
    height: 5px;
    background-color: #a028a0;
    bottom: 40px;
    left: -65px;
}
h2{
    position: relative;
    font-family: sans-serif;
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 10px;
}
h2 {
    color: #000;
    font-size: 70px;
    letter-spacing: 4px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;
}

h2:nth-child(1):hover{
    text-shadow:
    0 0 10px #0ef,
    0 0 10px #0ef,
    0 0 10px #0ef;
}
h2:nth-child(3):hover{
    text-shadow:
    0 0 10px #f0f,
    0 0 10px #f0f,
    0 0 10px #f0f;
}